# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data — never commit raw data to git
project1_race_predictor/data/raw/
project1_race_predictor/data/processed/

# MLflow artifacts (Sprint 3)
mlruns/

# Environment variables
.env

# IDE
.vscode/
.idea/
*.DS_Store